/* Styling - Navigation Bar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  width: 33%;
}
<<<<<<< HEAD

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/* TODO: Add more styling to your navigation bar - See W3 Schools for help */

header {
  background-image: url("https://www.universitiesuk.ac.uk/news/PublishingImages/access-paper-blurred-students.png?RenditionID=7");
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100% 200px;
  height: 200px;
}

h2{
  color: rgb(0, 255, 221);
}

body{
  background-color: cornsilk;
}
/* TODO: Add more styling to your navigation bar - See W3 Schools for help */
=======
>>>>>>> 3108b21deb55f4bb7c48265e7964ad5a80b5cb91

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/* TODO: Add more styling to your navigation bar - See W3 Schools for help */

header {
  background-image: url("https://www.universitiesuk.ac.uk/news/PublishingImages/access-paper-blurred-students.png?RenditionID=7");
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100% 200px; 
  height: 200px;
}

h2{
  color: rgb(0, 255, 221);
}

body{
  background-color: cornsilk;
}


/* Structuring & Styling- Gallery */
/* TODO: Change styling to your colour scheme - See W3 Schools for help */
div.gallery {
  margin: 5px;
  border: 3px solid rgba(191, 10, 247, 0);
  float: left;
<<<<<<< HEAD
=======
  width: 32%;
>>>>>>> 3108b21deb55f4bb7c48265e7964ad5a80b5cb91
}

/* TODO: Change styling to your colour scheme - See W3 Schools for help */

div.gallery img {
  width: 50%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}



th:hover{
  border: 1px solid rgb(45, 10, 247);
}



#second th{
  float: left;
  width: 50%;
}

* {
  box-sizing: border-box;
}